

<div class="container">

    <p>TecNM campus Cancun,</p>
    <p>Gracias {{ name }} por contactarnos, nos comunicaremos contigo lo más pronto posible</p>

    <br>

    <p>Si no solicitó este correo electrónico, puede ignorarlo con seguridad.</p>
</div>
