

<div class="container">

    <p>Nuevo Lead para educacion a distancia | TecNM Campus Cancun</p>

    <p>Datos de Lead</p>
    <p>Nombre: {{ name }}</p>
    <p>Email: {{ email }}</p>
    <p>Numero: {{ phone }}</p>
    <p>Mensaje: {{ message }}</p>


</div>
